{% extends 'base.html' %}
{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{% endfor %}
<form action="{{ index }}" method="post" class="form-contact">
<p><label>Название дела: </label><p>
    <p><textarea name="case_name" rows=2 cols=60>{{ title }}</textarea>
<p><label>Комментарий:</label>
    <p><textarea name="case_comment" rows=10 cols=60>{{ comment }}</textarea></p>
    <p><input type="submit" value="          Изменить          " />
</form>
<p><a href="{{ url_for('delete', id_post=id_post)}}"><button>Удалить</button></a></p>




{% endblock %}